site_name: Haveno Documentation
site_url: https://docs.haveno.exchange
copyright: Copyright &copy; 2024 Haveno

theme:
  name: material
  #custom_dir: overrides
  logo: 'resources/img/haveno.svg'
  favicon: 'resources/img/favicon.ico'
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.sections
    - toc.follow
    - navigation.top
  palette:
    - scheme: youtube
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode

plugins:
    - macros

markdown_extensions:
  - admonition  # https://squidfunk.github.io/mkdocs-material/reference/admonitions/
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight: # Code blocks
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - tables
  - attr_list
  - md_in_html

extra_css:
  - stylesheets/extra.css

extra:
  version:
    haveno: 1.0.10
  social:
    - icon: material/web
      link: https://haveno.exchange
    - icon: fontawesome/brands/github
      link: https://github.com/haveno-dex/
    - icon: fontawesome/brands/twitter 
      link: https://twitter.com/HavenoDEX
    - icon: simple/matrix
      link: https://matrix.to/#/#haveno:haveno.network
    - icon: material/chat
      link: irc://irc.libera.chat/#haveno

nav:
  - Home: 'index.md'
  - The Project:
    - Overview of Haveno: 'the-project/overview.md'
    - Trade Protocol: 'the-project/trade-protocol.md'
    - Conflict Resolution: 'the-project/conflict-resolution.md'
    - Roles:
      - Core Team: 'the-project/roles/core-team.md'
      - Motoro: 'the-project/roles/motoro.md'
      - Arbitrators: 'the-project/roles/arbitrators.md'
      - Publishers: 'the-project/roles/publishers.md'
    - Assets and Payment Methods: 'the-project/assets.md'
  - Development:
    - Install and Run Haveno: 'development/installing.md'
    - User Interface: 'development/haveno-ui.md'
    - API: 
      - haveno-ts: 'development/haveno-ts.md'
      - API Docs: 'https://api.haveno.exchange/classes/HavenoClient.HavenoClient-1.html'
    - Bounties: 'development/bounties.md'
    - Import Development Environment: 'development/importing.md'
    - Contributor Guidelines: 'development/contributor-guidelines.md'
