site_name: Haveno Documentation
site_url: https://docs.haveno.exchange
copyright: Copyright &copy; 2025 Haveno

repo_url: 'https://github.com/haveno-dex/haveno-docs'
repo_name: 'haveno-dex/haveno-docs'
edit_uri: edit/master/docs/

theme:
  name: material
  #custom_dir: overrides
  logo: 'resources/img/haveno.svg'
  favicon: 'resources/img/favicon.ico'
#  icon:
#    repo: simple/git
  features:
    - content.action.edit
    - content.action.view
    - content.code.copy
    # - content.code.select # Currently only for sponsors :-(
    - content.code.annotate
    - navigation.instant
    - navigation.sections
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.suggest
    - toc.follow
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: youtube
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode

plugins:
    - macros
    - privacy
    - search

markdown_extensions:
  # Python Markdown - https://squidfunk.github.io/mkdocs-material/setup/extensions/python-markdown/
  - admonition
  - attr_list
  - md_in_html
  - tables
  # Python Markdown Extensions - https://squidfunk.github.io/mkdocs-material/setup/extensions/python-markdown-extensions/
  - pymdownx.blocks.caption
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  # NOTE: Default value 'use_pygments: true' controls whether highlighting carried out during build time using Pygments or in the browser with a JavaScript syntax highlighter.
  - pymdownx.highlight: # Code blocks
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

extra_css:
  - stylesheets/extra.css

extra:
  version:
    haveno: 1.0.19
  social:
    - icon: material/web
      link: https://haveno.exchange
      name: Website
    - icon: fontawesome/brands/github
      link: https://github.com/haveno-dex
      name: GitHub
    - icon: fontawesome/brands/x-twitter
      link: https://twitter.com/HavenoDEX
      name: Twitter
    - icon: simple/matrix
      link: https://matrix.to/#/#haveno:monero.social
      name: Matrix
    - icon: simple/liberadotchat
      link: irc://irc.libera.chat/#haveno
      name: IRC/Libera

nav:
- Home: 'index.md'
- The Project:
  - The Basics:
    - Overview of Haveno: 'the-project/overview.md'
    - Trade Protocol: 'the-project/trade-protocol.md'
    - Dispute Resolution: 'the-project/dispute-resolution.md'
    - Roles:
      - Core Team: 'the-project/roles/core-team.md'
      - Arbitrators: 'the-project/roles/arbitrators.md'
      - Publishers: 'the-project/roles/publishers.md'
  - Installation:
    - Tails: 'the-project/installation/Tails.md'
  - Assets and Payment Methods:
    - Assets: 'the-project/assets.md'
    - Payment Methods:
      - Overview - Currently supported: 'the-project/payment_methods/0-all-methods.md'
      - ACH Transfer: 'the-project/payment_methods/ACH.md'
      - Amazon eGift card: 'the-project/payment_methods/Amazon_eGift_card.md'
      - Bizum: 'the-project/payment_methods/Bizum.md'
      - Domestic Wire Transfer: 'the-project/payment_methods/Domestic_Wire_Transfer.md'
      - F2F: 'the-project/payment_methods/F2F.md'
      - Faster Payments: 'the-project/payment_methods/Faster_Payments.md'
      - IMPS: 'the-project/payment_methods/IMPS.md'
      - Interac e-transfer: 'the-project/payment_methods/interac_e-transfer.md'
      - Monese: 'the-project/payment_methods/Monese.md'
      - NEFT: 'the-project/payment_methods/NEFT.md'
      - Nequi: 'the-project/payment_methods/Nequi.md'
      - Paxum: 'the-project/payment_methods/Paxum.md'
      - Pay By Mail: 'the-project/payment_methods/Pay_By_Mail.md'
      - Paysera: 'the-project/payment_methods/Paysera.md'
      - PayTM: 'the-project/payment_methods/PayTM.md'
      - Pix: 'the-project/payment_methods/Pix.md'
      - Revolut: 'the-project/payment_methods/Revolut.md'
      - RTGS: 'the-project/payment_methods/RTGS.md'
      - Satispay: 'the-project/payment_methods/Satispay.md'
      - SEPA: 'the-project/payment_methods/SEPA.md'
      - SEPA Instant: 'the-project/payment_methods/SEPA_Instant.md'
      - Strike: 'the-project/payment_methods/Strike.md'
      - SWIFT: 'the-project/payment_methods/SWIFT.md'
      - UPI: 'the-project/payment_methods/UPI.md'
      - US Postal Money Order: 'the-project/payment_methods/US_Postal_Money_Order.md'
      - Verse: 'the-project/payment_methods/Verse.md'
      - Wise: 'the-project/payment_methods/Wise.md'
      - Wise USD: 'the-project/payment_methods/Wise-USD.md'
      - Zelle: 'the-project/payment_methods/Zelle.md'
    - Account limits: 'the-project/account_limits.md'
- Development:
  - Install and Run Haveno: 'development/installing.md'
  - User Interface: 'development/haveno-ui.md'
  - API: 'development/api.md'
  - Bounties: 'development/bounties.md'
  - Import Development Environment: 'development/importing.md'
  - Contributor Guidelines: 'development/contributor-guidelines.md'
- Haveno UI:
  - No-deposit trading: 'haveno-ui/no_deposit.md'
  - Cloning an offer: 'haveno-ui/cloning_an_offer.md'
  - Backup & Restore: 'haveno-ui/backup_and_restore.md'
- Tor configuration:
  - DirectBindTor: 'tor-config/DirectBindTor.md'
  - ExternalTor: 'tor-config/external-tor-usage.md'
